<div class="container h-100 d-flex justify-content-center ">
    <div>
        <img class="login-logo" src="../../assets/images/AP_basis_outline_q.png" />
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Facility Tool</h5>
            <hr>
            <p class="card-text">Aanmelden voor AP gebruikers</p>
            <!-- <a class="btn btn-primary" href="http://localhost:8080/login/oauth2/authorize/azure?redirect_uri=http://localhost:4200/"><img class="login-btn-logo" src="../../assets/images/logo.png"> Login AP Account</a> -->
            <a class="btn btn-primary" href="https://vps099.ap.be/login/oauth2/authorize/azure?redirect_uri=https://vps099.ap.be/"><img class="login-btn-logo" src="../../assets/images/logo.png"> Login AP Account</a>
        </div>
    </div>
</div>