<div class="ParentDiv container-fluid">

    <mat-tab-group [hidden]="newInnerWidth < 500" #tabGroup (selectedTabChange)="handleMatTabChange($event)">

        <mat-tab #Oversicht label="Defecten">
            <div [hidden]="!isReportLoaded">
                <div *ngIf='newInnerWidth >  500' class="header mt-3">
                    <h2 class="headerText">Lopende defecten</h2>
                    <br/>
                </div>

                <div #TABLE class="mat-elevation-z8 mb-3 container">
                    <br/>
                    <mat-table id="ExampleTable" #table matTableFilter [dataSource]='dataSource ' [exampleEntity]="filterEntity" [filterType]="filterType" matSort>

                        <!-- Title Column -->
                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Defect" [(ngModel)]="filterEntity.title">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let e">{{(e.title.length > 17 ) ? (e.title | slice:0:17) + '..' : (e.title)}}</mat-cell>
                        </ng-container>

                        <!-- Category Column -->
                        <ng-container matColumnDef="category">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Categorie" [(ngModel)]="filterEntity.category">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let e">{{(e.category.length > 17 ) ? (e.category | slice:0:17) + '..' : (e.category)}}</mat-cell>
                        </ng-container>

                        <!-- Campus Column -->
                        <ng-container matColumnDef="campus">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Campus" [(ngModel)]="filterEntity.campus">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let e">{{e.campus}}</mat-cell>
                        </ng-container>

                        <!-- Location Column -->
                        <ng-container matColumnDef="location">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Lokaal" [(ngModel)]="filterEntity.location">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let e">{{e.location}} <span *ngIf='e.closeTo' class="ml-1">*</span></mat-cell>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Status" [(ngModel)]="filterEntity.status">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let e">{{(e.status.length > 10 ) ? (e.status | slice:0:14) + '..' : (e.status)}}</mat-cell>
                        </ng-container>


                        <!-- Priority Column -->
                        <ng-container matColumnDef="priority">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field (click)='toggleDisable()'>
                                    <input matInput placeholder="Prioriteit" [disabled]='disableTextbox' readonly mat-sort-header>
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let e"><span class='dot-web' [ngStyle]="{'background-color': setPriorityColor(e.upVote)}"></span></mat-cell>
                        </ng-container>

                        <!-- Upvote Column -->
                        <ng-container matColumnDef="upVote">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field (click)='toggleDisable()'>
                                    <input matInput placeholder="Stemmen" [disabled]='disableTextbox' readonly>
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let e">{{e.upVote}}</mat-cell>
                        </ng-container>

                        <!-- Details Column -->
                        <ng-container matColumnDef="detail">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field (click)='toggleDisable()'>
                                    <input matInput placeholder="Details" [disabled]='disableTextbox' readonly>
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let e"><a [routerLink]="['/meldingen/detail', e.id]"><i class="fa fa-info-circle detailsIcon"></i></a></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                </div>

            </div>

            <div [hidden]="isReportLoaded !== undefined" class="container">
                <div class="spinner-border text-danger" role="status">
                    <span class="sr-only">Laden...</span>
                </div>
            </div>

            <div [hidden]="isReportLoaded || isReportLoaded === undefined">
                <div class="header-mobile">
                    <p> Er zijn geen resultaten.</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab *ngIf="!authService.isFacilitaireMedewerker && !authService.isMedewerker" #Taken label="Taken">
            <div [hidden]="!isOrdersLoaded">
                <div *ngIf='newInnerWidth > 500' class="header mt-3 mb-4">
                    <h2>Lopende taken</h2>
                </div>

                <div [hidden]='newInnerWidth <  500' class="mat-elevation-z8 mb-3 container">

                    <mat-table matTableFilter [dataSource]="taskDataSource" [exampleEntity]="taskFilterEntity" [filterType]="filterType">

                        <!-- Title Column -->
                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Taak" [(ngModel)]="taskFilterEntity.title">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let f">{{(f.title.length > 17 ) ? (f.title | slice:0:17) + '..' : (f.title)}}</mat-cell>
                        </ng-container>


                        <!-- Category Column -->
                        <ng-container matColumnDef="category">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Categorie" [(ngModel)]="filterEntity.category">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let f">{{(f.category.length > 17 ) ? (f.category | slice:0:17) + '..' : (f.category)}}</mat-cell>
                        </ng-container>

                        <!-- Campus Column -->
                        <ng-container matColumnDef="campus">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Campus" [(ngModel)]="taskFilterEntity.campus">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let f">{{f.campus}}</mat-cell>
                        </ng-container>

                        <!-- Location Column -->
                        <ng-container matColumnDef="location">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Lokaal" [(ngModel)]="taskFilterEntity.location">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let f">{{f.location}} <span *ngIf='f.closeTo' class="ml-1">*</span></mat-cell>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Datum" [(ngModel)]="taskFilterEntity.date">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let f">{{f.date}}</mat-cell>
                        </ng-container>

                        <!-- Time Column -->
                        <ng-container matColumnDef="time">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Tijd" [(ngModel)]="taskFilterEntity.time">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let f">{{f.time}}</mat-cell>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Status" [(ngModel)]="taskFilterEntity.status">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let f">{{(f.status.length > 17 ) ? (f.status | slice:0:17) + '..' : (f.status)}}</mat-cell>
                        </ng-container>
                        <!-- Details Column -->
                        <ng-container matColumnDef="detail">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-form-field>
                                    <input matInput placeholder="Details" readonly>
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let e"><a [routerLink]="['/tasks/detail', e.id]"><i class="fa fa-info-circle detailsIcon"></i></a></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedTaskColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedTaskColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator #taskPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    <br/>
                </div>
            </div>
            <div [hidden]="isOrdersLoaded !== undefined" class="container">
                <div class="spinner-border text-danger" role="status">
                    <span class="sr-only">Laden...</span>
                </div>
            </div>
            <div [hidden]="isOrdersLoaded || isOrdersLoaded === undefined">
                <div class="header-mobile">
                    <p> Er zijn geen resultaten.</p>
                </div>
            </div>
        </mat-tab>


    </mat-tab-group>

    <!-- Alleen op mobile -->
    <mat-tab-group [hidden]='newInnerWidth >  500' #tabGroup2 (selectedTabChange)="handleMatTabChange($event)">


        <mat-tab label="Defecten">
            <div [hidden]="!isReportLoaded">
                <mat-form-field *ngIf='newInnerWidth <  500'>
                    <mat-label>
                        <mat-icon>search</mat-icon>
                    </mat-label>
                    <input matInput placeholder="Zoek op locatie..." type="text" name="search" [(ngModel)]="searchText" autocomplete="off">
                </mat-form-field>

                <div [hidden]='newInnerWidth >  500' class='mb-3'>
                    <div class="title-mobile">
                        <p>Lopende defecten</p>
                    </div>


                    <mat-form-field class="dropsown">
                        <mat-label class="dropDownLable">Sorteer op</mat-label>
                        <mat-select [(ngModel)]="sortBy" name="col">
                            <mat-option *ngFor="let col of columnsToSort" [value]="col.value" (click)="SortBy()">
                                {{col.viewValue}}
                                <i class="fas fa-arrow-up sortPile" *ngIf="direction === 'asc'"></i>
                                <i class="fas fa-arrow-down sortPile" *ngIf="direction === 'desc'"></i>

                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <div *ngFor='let report of reports | filter: searchText | sortBy: direction:sortBy' class='card-view' [routerLink]="['/meldingen/detail', report.id]">

                        <section class="img">
                            <img *ngIf='report.bytes === null' class="col-md-6" src="../../assets/images/default.jpg" alt="image">
                            <img *ngIf='report.bytes !== null' class="col-md-6" src="data:image/jpeg;base64,{{report.bytes}}" alt="image">
                        </section>

                        <section class="description">
                            <div class='card-head'>
                                <h5>{{(report.title.length > 18 ) ? (report.title | slice:0:18) + '..' : (report.title)}}</h5>
                                <span class='dot-mobile' [ngStyle]="{'background-color': setPriorityColor(report.upVote)}"></span>
                            </div>
                            <p class='loc'>{{report.campus}} {{report.location}} <span *ngIf='report.closeTo' class="ml-1">*</span></p>
                            <p>Status: {{(report.status.length > 10 ) ? (report.status | slice:0:14) + '..' : (report.status)}}</p>

                            <label class="category">{{(report.category.length > 10 ) ? (report.category | slice:0:14) + '..' : (report.category)}}</label> &nbsp;
                            <label id='stemmen'><i class="fas fa-thumbs-up"></i>{{report.upVote}}</label>
                        </section>

                    </div>
                </div>
            </div>

            <div [hidden]="isReportLoaded !== undefined" class="header-mobile container">
                <div class="spinner-border text-danger" role="status">
                    <span class="sr-only">Laden...</span>
                </div>
            </div>

            <div>
                <div class="header-mobile" [hidden]="isReportLoaded || isReportLoaded === undefined">
                    <p>Er zijn geen resultaten.</p>
                </div>
            </div>

        </mat-tab>


        <mat-tab *ngIf="!authService.isFacilitaireMedewerker && !authService.isMedewerker" label="Taken">

            <div [hidden]="!isOrdersLoaded" style="height: 100%;">
                <mat-form-field *ngIf='newInnerWidth <  500'>
                    <mat-label>Filter</mat-label>
                    <input matInput placeholder="zoek op locatie..." type="text" name="search" [(ngModel)]="searchText" autocomplete="off">
                </mat-form-field>

                <div [hidden]='newInnerWidth >  500'>
                    <div class="title-mobile">
                        <p>Lopende taken</p>
                    </div>

                    <mat-form-field class="dropsown">
                        <mat-label class="dropDownLable">Sorteer op</mat-label>
                        <mat-select [(ngModel)]="TasksortBy" name="col">
                            <mat-option *ngFor="let col of TaskscolumnsToSort" [value]="col.value" (click)="SortBy()">
                                {{col.viewValue}}
                                <i class="fas fa-arrow-up sortPile" *ngIf="direction === 'asc'"></i>
                                <i class="fas fa-arrow-down sortPile" *ngIf="direction === 'desc'"></i>

                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div *ngFor='let order of orders | filter: searchText | sortBy: direction:TasksortBy' [routerLink]="['/tasks/detail', order.id]">
                        <div class="order-card">
                            <section id="top">
                                <span>
                                    <h5 class="title"><b>{{ (order.title.length > 25 ) ? (order.title | slice:0:25)+'..':(order.title)}}</b></h5>
                                    <p class='loc'>{{order.campus}}  {{order.location}} <span *ngIf='order.closeTo' class="ml-1">*</span></p>
                                </span>

                                <span class="font-weight-bold text-right">
                                    {{order.date}}
                                    <p>{{order.time}}</p>
                                </span>
                            </section>

                            <label><b>Status:</b> {{order.status}}</label>
                            <label class="category bottom">{{order.category}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div [hidden]="isOrdersLoaded !== undefined" class="header-mobile container">
                <div class="spinner-border text-danger" role="status">
                    <span class="sr-only">Laden...</span>
                </div>
            </div>

            <div>
                <div class="header-mobile" [hidden]="isOrdersLoaded || isOrdersLoaded === undefined">
                    <p>Er zijn geen resultaten.</p>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div *ngIf='authService.isAdmin' id="download" (click)='exportData()'>
        <i class="fa fa-download m-2"></i>
    </div>

    <div id="return" (click)="openBottomSheet()">
        <i class="fa fa-plus m-2" aria-hidden="true"></i>
    </div>
</div>
